<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/homepage.css">
  </head>
  <body>
    <div class="container">
      <div>
        <center> <img src="./static/assets/iconv0.png" alt="Events Manager icon">
        <h1>Events Manager</h1> </center>
      </div>
      <p>Carica la lista invitati in formato csv o excel</p>
<form method="POST" action="/events" enctype="multipart/form-data">
  <input type="file" name="data_file">
  <button type="submit">Upload CSV</button>
</form> 
<p><b>Events Manager v 0.1 - Marco Federici 2023 ©</b></p>
    </div>
  </body>
</html>
