table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#myInput {
    width: 90%;
    font-size: 16px;
    border: 1px solid #ddd;
}

#myInput, #submit-btn {
    display: inline-block;
	justify-content: space-between;
    vertical-align: middle;
    padding: 14px;
    margin-bottom: 4px;
}

th:nth-child(1),
      td:nth-child(1){
        display: none;
      }
  
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 18px;
}

th:nth-child(2) {
    width: 200px;
}
  
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 14px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

input.checks {
    width: 25px;
    height: 25px;
}

img {
    width: 200px; /* Larghezza prestabilita */
    height: 200px; /* Altezza prestabilita */
    object-fit: cover; /* Ritaglia l'immagine alle dimensioni definite */
    border-radius: 10%
}

a {
    padding: 10px 20px;
    background-color: #D40593;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    background-color: #D40593;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}